<div class="sidebar">
    <h2>Job Portal</h2>
    <ul>
      <li class=""><i class="bi bi-person"></i> <a class="nav-link text-white" href="/rec-dashboard">Dashboard</a></li>
      <li><i class="bi bi-person"></i> <a class="nav-link text-white" href="/profile">Profile</a></li>
      <li><i class="bi bi-plus-circle"></i><a class="nav-link text-white" href="/postjob">Post Job</a></li>
      <li><i class="bi bi-briefcase"></i><a class="nav-link text-white" href="/manage-application"> Manage Applications</a></li>
      <li><i class="bi bi-box-arrow-right"></i><a class="nav-link text-white" href="/"> Logout</a></li>
    </ul>
</div>
