<div class="dashboard-container">
    <!-- Sidebar Navbar -->
    <app-user-navbar></app-user-navbar>
  
    <!-- Main Content -->
    <div class="main-content">
        <h2 class="text-center dashboard-title ">My Applied Jobs</h2>

    <div *ngIf="appliedJobs.length === 0" class="no-jobs">
        <p>You haven't applied for any jobs yet.</p>
    </div>

    <div *ngFor="let aj of appliedJobs" class="applied-job-card">
        <h3>{{ aj.job.jobTitle }} at {{ aj.job.companyName }}</h3>
        <p><strong>Location:</strong> {{ aj.job.location }}</p>
        <p><strong>Employment Type:</strong> {{ aj.job.employmentType }}</p>
        <p><strong>Description:</strong> {{ aj.job.description }}</p>
        <p><strong>Status:</strong> {{ aj.application.currentStatus }}</p>
        <p><strong>Applied On:</strong> {{ aj.application.appliedDate | date }}</p>
        <div class="progress">
            <div class="progress-bar" [ngClass]="getProgressClass(aj.application.currentStatus)" [style.width]="getProgressWidth(aj.application.currentStatus)">
                {{ aj.application.currentStatus}}
            </div>
        </div>
        <hr />
      </div>  
        
      </div>      
    
  </div>
  
  
  
  
  
  
    











