<div class="dashboard-container">
    <!-- Sidebar Navbar -->
    <app-user-navbar></app-user-navbar>
  
    <!-- Main Content -->
    <div class="main-content">
        <h2 class="text-center dashboard-title ">My Applied Jobs</h2>

    <div *ngIf="appliedJobs.length === 0" class="no-jobs">
        <p>You haven't applied for any jobs yet.</p>
    </div>

    <div *ngFor="let job of appliedJobs" class="job-card">
        <h3>{{ job.title }}</h3>
        <p><strong>Company:</strong> {{ job.company }}</p>
        <p><strong>Salary:</strong> ₹{{ job.salary }}</p>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Status:</strong> {{ job.status }}</p>

        <!-- Progress bar -->
        <div class="progress">
            <div class="progress-bar" [ngClass]="getProgressClass(job.status)" [style.width]="getProgressWidth(job.status)">
                {{ job.status }}
            </div>
        </div>
    </div>
      
        
      </div>
        
    
  </div>
  
  
  
  
  
  
    











