<div class="dashboard-container">
    <!-- Sidebar -->
    <!-- <div class="sidebar">
      <h2>Job Portal</h2>
      <ul>
        <li><i class="bi bi-person"></i><a class="nav-link text-white" href="userdashboard">Dashboard</a> </li>
        <li><i class="bi bi-person"></i><a class="nav-link text-white" href="/userprofile">Profile</a> </li>
        <li><i class="bi bi-plus-circle"></i><a class="nav-link text-white" href="/psychometric-test">Psychometric Test</a> </li>
        <li><i class="bi bi-briefcase"></i><a class="nav-link text-white" href="/applyjobs">Apply Jobs</a> </li>
        <li><i class="bi bi-briefcase"></i><a class="nav-link text-white" href="/appliedjobs">Applied Jobs</a> </li>
        <li><i class="bi bi-box-arrow-right"></i> Logout</li>
      </ul>
    </div> -->
  
    <!-- Main Content -->
    <app-user-navbar></app-user-navbar>
    <div class="main-content">
      <h3 class="dashboard-title">Job Seeker Dashboard</h3>
      
  
      <div class="card-container">
        <div class="stat-card" style="background-color: #ff4081;">
          <h5>Total Jobs</h5>
          <h2>{{ totaljobs }}</h2>
        </div>
        <div class="stat-card" style="background-color: #3f51b5;">
          <h5>Tests Taken</h5>
          <h2>{{ testsTaken }}</h2>
        </div>
        <div class="stat-card" style="background-color: #4caf50;">
          <h5>Jobs Available</h5>
          <h2>{{ jobsAvailable }}</h2>
        </div>
        <div class="stat-card" style="background-color: #ff9800;">
          <h5>Shortlisted Jobs</h5>
          <h2>{{ shortlistedJobs }}</h2>
        </div>
      </div>
    </div>
  </div>
  
