<div class="dashboard-container">
  <app-user-navbar></app-user-navbar>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Dashboard Title -->
    <h2 class="dashboard-title">Job Seeker Dashboard</h2>
    <div class="welcome-container">
      <h3 class="welcome-message">Welcome!!</h3>
    </div>

    <!-- Cards Section -->
    <div class="card-container">
      <div class="stat-card" style="background-color: #fcfcfc;">
        <h5>Total Jobs</h5>
        <h2>{{ stats?.totalJobs ?? 0 }}</h2>
      </div>

      <div class="stat-card" style="background-color: #ffffff;">
        <h5>Active Jobs</h5>
        <h2>{{ stats?.activeJobs ?? 0 }}</h2>
      </div>

      <div class="stat-card" style="background-color: #ffffff;">
        <h5>Applied Jobs</h5>
        <h2>{{ stats?.appliedJobs ?? 0 }}</h2>
      </div>

      <div class="stat-card" style="background-color: #ffffff;">
        <h5>Interview Scheduled</h5>
        <h2>{{ stats?.interviewScheduled ?? 0 }}</h2>
      </div>
    </div>
  </div>
</div>
