<div class="dashboard-container">
    <!-- Sidebar -->
    
    <app-rec-navbar></app-rec-navbar>
    <!-- Main Content -->
    <div class="main-content">
      <h3 class="dashboard-title">Recruiter Dashboard</h3>
      
  
      <div class="card-container">
        <div class="stat-card" style="background-color: #4caf50;">
          <h5>Applications Received</h5>
          <h2>20</h2>
        </div>

        <div class="stat-card" style="background-color: #e91e63;">
          <h5>Test Taken</h5>
          <h2>15</h2>
        </div>
        <div class="stat-card" style="background-color: #2196f3;">
          <h5>Active Jobs</h5>
          <h2>7</h2>
        </div>
        
        <div class="stat-card" style="background-color: #ff9800;">
          <h5>Shortlisted Candidates</h5>
          <h2>5</h2>
        </div>
      </div>
    </div>
  </div>
  