<div class="dashboard-container">
  <app-rec-navbar></app-rec-navbar>
  <!-- Main Content -->
  <div class="main-content">
    <h3 class="dashboard-title">Recruiter Dashboard</h3>

    <div class="welcome-container">
      <h3 class="welcome-message">Welcome </h3>
    </div>
    

    <div class="card-container">
      <div class="stat-card" style="background-color: #fcfcfc;">
        <h5>Applications Received</h5>
        <h2>{{ stats?.applicationsreceived ?? 0 }}</h2>
      </div>

      <div class="stat-card" style="background-color: #ffffff;">
        <h5>Total Jobs</h5>
        <h2>{{ stats?.totalJobs ?? 0 }}</h2>
      </div>
      <div class="stat-card" style="background-color: #ffffff;">
        <h5>Active Jobs</h5>
        <h2>{{ stats?.activeJobs ?? 0 }}</h2>
      </div>
      
      <div class="stat-card" style="background-color: #ffffff;">
        <h5>Pending Candidates</h5>
        <h2>{{ stats?.pendingApplications ?? 0 }}</h2>
      </div>
    </div>  
  </div>
</div>